.button {
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    outline: 0;
    margin-left: 1rem;
  }
  .activebutton {
    background: MediumSeaGreen;
    color: #ffffff;
  }