<div *ngIf="routeFound">
<p>
  <mat-toolbar>
    <button class="navMenu"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="about-us">
        <mat-icon>groups</mat-icon>
        <span>About Us</span>
      </a>
      <a mat-menu-item routerLink="product">
        <mat-icon>forest</mat-icon>
        <span>Products</span>
      </a>
      <a mat-menu-item routerLink="cart">
        <mat-icon>shopping_cart</mat-icon>
        <span>Shopping Cart</span>
      </a>
      <a mat-menu-item routerLink="contact-us">
        <mat-icon>email</mat-icon>
        <span>Contact Us</span>
      </a>
    </mat-menu>
    <span class="example-spacer"></span>

    <span>Bonsai Store App</span>
    <span class="example-spacer"></span>
    <button class="shoppingCart"
      mat-icon-button
      class="example-icon"
      aria-label="Shopping Cart Icon"
      routerLink="cart"
    >
    <mat-icon matBadgePosition="before" matBadge="{{ itemCount }}" matBadgeColor="warn">
      shopping_cart
    </mat-icon>
    </button>
  </mat-toolbar>
</p>

<nav>
  <a
    class="button"
    routerLink="about-us"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    About Us
  </a>
  <a
    class="button"
    routerLink="product"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Products
  </a>
  <a
    class="button"
    routerLink="cart"
    routerLinkActive="activebutton"
    aruaCurrentWhenActive="page"
  >
    Shopping Cart</a
  >
  <a
    class="button"
    routerLink="contact-us"
    routerLinkActive="activebutton"
    aruaCurrentWhenActive="page"
  >
    Contact Us</a
  >
</nav>
</div>
<router-outlet></router-outlet>