<mat-card class="product-card" *ngIf="product">
    <mat-card-actions>
      <button mat-button>Share</button>
      <button mat-button (click)="addToCart(product)">Add to Cart</button>
    </mat-card-actions>
    <img
      class="product-card-image" 
      mat-card-image
      src="{{ product.pictureUrl }}"
    />
    <mat-card-content class="product-description">
      {{ product.name }}...
    </mat-card-content>
    <mat-card-content class="product-rate">
      {{ product.rate }}
    </mat-card-content>
    <mat-card-content class="product-price">
      ${{ product.price }}
    </mat-card-content>
    <mat-card-content class="product-price">
      ${{ product.description }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Share</button>
      <button mat-button (click)="addToCart(product)">Add to Cart</button>
    </mat-card-actions>
  </mat-card>