<div class="about-section">
    <h1 class="heading">About Us</h1>
    <p>We are a small family nursery and business. Sharing our love, passion and enthusiasm for the ancient living art of Bonsai, right here in Canada. We believe we need to utilize Canadian trees and show that they can be as magnificent as any other varieties. As well as bringing Bonsai from all around the world to the Canadian market. We only offer for sale trees that have reached a certain age, and we are confident that our trees will grow into gorgeous Bonsai with the right care, design and love.</p>
</div>

<h2 class="h2">Our Products</h2>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="assets/images/about.jpg" alt="" srcset="">
            <div class="container">
                <h2>Starter Kit</h2>
                <p>All you need to start your bonsai journey</p>
                <button class="btn" routerLink="product">View Product</button>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="assets/images/about.jpg" alt="" srcset="">
            <div class="container">
                <h2>Starter Kit</h2>
                <p>All you need to start your bonsai journey</p>
                <p><button class="btn">View Product</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="assets/images/about.jpg" alt="" srcset="">
            <div class="container">
                <h2>Starter Kit</h2>
                <p>All you need to start your bonsai journey</p>
                <p><button class="btn">View Product</button></p>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>